.auth_wrapper {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #299a0b;
  margin-top: 50px;
  padding: 50px;
}

.auth_input {
  display: flex;
  padding: 10px 0;
}

.auth_input label {
  min-width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #299a0b;
  padding: 0 10px;
  color: #FFF;
  text-align: center;
  border: 2px solid #299a0b;
}

.auth_input input {
  flex-grow: 1;
  margin: unset;
  border: unset;
  outline: unset;
  border: 2px solid #299a0b;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.5);
}

.auth_wrapper button {
  width: 100%;
  height: 36px;
  color: #FFF;
  margin: unset;
  border: unset;
  outline: unset;
  background-color: #299a0b;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .auth_wrapper {
    max-width: unset;
    margin-left: unset;
    margin-right: unset;
    margin-top: 30px;
    border: unset;
    padding: 30px;
  }
}

@media screen and (max-width: 425px) {
  .auth_input {
    flex-direction: column;
  }
  .auth_input input {
    height: 35px;
  }
}