.main-page {
    padding-bottom: 50px;
}

.main_page article {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.main_page article section {
    min-height: 250px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page article section {
    display: flex;
}


.main_page article section .link-button {
    flex-grow: 1;
    min-width: 200px;
}

.main_page article section .link-button button {
    padding: 20px 30px;
    background-color: #28a745;
    font-weight: 300;
    font-size: 1.1em;
    border: none;
    color: inherit;
    width: 70%;
    max-width: 200px;
    margin: 0 auto;
}

.main_page article section .link-button button:hover {
    transition: background-color 0.5s ease;
    color: #FFFFFF;
    background-color: #3e8e41;  
    cursor: pointer;
}

.main_page article section .link-description {
    flex-grow: 3;
    font-weight: 300;
    padding: 0px 40px;
}

.main_page article section .link-description h2 {
    font-weight: inherit;
    font-size: 1.8em;
}

.main_page article .introduction
{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_page article section:nth-child(4) {
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_page article section:nth-child(3) {
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.main_page article section:nth-child(5) {
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_page article .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    min-height: 100px;
}

.main_page article .introduction h2 {
    color: #000;
    font-weight: 300;
    font-size: 1.3em;   
}

.main_page article .section_greeting {
    display: none;
    padding: 10px 0px;
}
.main_page article .section_greeting img {
    max-height: 150px;
    max-width: 150px;
}

.main_page article .section_greeting h3 {
    color: #000000;
    font-weight: 300;
    margin: 15px 0;
    padding: 0 20px;
}

button.full_length_button {
    display: block;
    width: 100%;
    height: 40px;

}

@media screen and (max-width: 768px) {
    .main_page article {
        padding-top: 40px;
    }
}

@media screen and (max-width: 640px) {

    .main_page article .introduction {
        background: none;
    }

    .main_page article .section_greeting {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main_page article section {
        flex-direction: column;
        align-items: center;
    }

    .main_page article section .link-button {
        order: 2;
        flex-grow: unset;
        min-width: unset;
    }

    .main_page article section .link-button button {
        width: 150px;
        padding: 5px 15px;
        height: 45px;      
    }

    .main_page article section .link-description {
        flex-grow: unset;
        padding: 0px 25%;
    }

    .main_page article section .link-description h2 {
        font-size: 1.3em;
        font-weight: 400;
    }

}

@media screen and (max-width: 425px) {
    .main_page article section .link-description {
        padding: 0px 12%;
    }    
}