#room_passcode {
    border: none;
    border-bottom: 2px solid green;
    outline: none;
    padding: 10px 0;
    background: transparent;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}

#room_passcode::placeholder {
    color: white;
}