.main_navbar {
    display: flex;
    flex-direction: column;
    background-image: -webkit-linear-gradient(top right, #E3FDF5 0%, #FFE6FA 100%);
    background-image: -o-linear-gradient(top right, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to bottom left, #E3FDF5 0%, #FFE6FA 100%);
    font-weight: 400;
    font-size: 1.2em;
}

.main_navbar ul {
    display: flex;
    width: 100%;
    align-self: flex-end;
    padding: 30px 0px 0px 0px;
    margin: auto 0px 0px 0px;
    list-style: none;
}

.main_navbar ul li {
    flex-grow: 1;
    display: block;
    text-align: center;
    border: 1px solid #DCDCDC;
    border-left: none;
    font-weight: 300;
    transition: flex-grow 1s ease;
}

.main_navbar ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 8px 15px;
}

.main_navbar ul li:last-of-type {
    border-right: none;
}

.main_navbar ul li:hover {
    font-weight: 400;
    flex-grow: 2;
    transition: flex-grow 1.5s ease;
    background-color: #f9fefd;

}

.main_navbar h1 > a {
    text-decoration: none;
    color: inherit;
}

.main_navbar h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

.main_navbar h1 {
    font-size: 2.6em;
    margin-top: 30px;
    font-weight: 300;
}

.main_navbar h4 {
    font-weight: 300;
}


.fert_icon {
    max-height: 34px;
    max-width: 34px;
}

#main_navbar_trigger_close {
    padding-left: 10px;
}

.main_navbar_more {
    display: none;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin-top: 6px;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .main_navbar {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
        height: 40px;
        line-height: 40px;
        z-index: 1;
        text-align: left;
        transition: height 0.5s ease-in-out;
    }
    .main_navbar {
        padding: 0;
    }
    .main_navbar ul {
        align-self: unset;
        margin: 10px 0;
    }

    .main_navbar ul li {
        border: none;
        margin-top: 10px;
    }

    .main_navbar_more {
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        cursor: pointer;   
    }

    .main_navbar.opened {
        height: 100%;
        overflow: scroll;
    }

    .main_navbar.opened > h1 {
        margin-top: 70px;
    }

    .main_navbar:not(.opened) #main_navbar_trigger_close {
        display: none;
    }

    .main_navbar:not(.opened) > h1 {
        margin:0;
        font-size: 1.2em;
        text-align: left;
        font-weight: 300; 
        cursor: pointer;
        padding: 0px 5px;
    }

    .main_navbar:not(.opened) > h1 img {
        position: relative;
        top: -2px;
    }


    .main_navbar .navbar_website_description {
        display: none;
    }

    .main_navbar ul {
        padding-top: 0px;
        flex-direction: column;
    }

    .main_navbar a {
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        display: block;
    }

    .main_navbar a:hover {
        color: #d4d0f1;
    }

    .main_navbar .closebtn {
        position: absolute;
        font-size: 36px;
        margin-left: 50px;
    }

    .main_navbar .main_nav_inner_wrapper ul li{
        border: none;
    }
}