.drop {
    width: 12em;
    margin: 2em auto;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    will-change: width;
    padding: 10px;
    cursor: pointer;
    background-color: #485761;
    border: none;
    outline: none;
    color: white;
}
.drop .option {
    padding: 10px;
    cursor: pointer;
    background-color: #485761;
    font-size: 1.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 10px;
    color: white;
    outline: none;
}
