.green_normal_button {
    background-color: #28a745;
    font-size: 1.1em;
    border: none;
    color: #FFFFFF;
    margin: 0 auto;
    outline: none;
}

.green_normal_button:hover {
    transition: background-color 0.5s ease;
    color: #FFFFFF;
    background-color: #3e8e41;
    cursor: pointer;
}

.top_sticky {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}