.manage_room .quiz_wrapper .quiz_inner_wrapper {
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    align-items: center;
    padding: 20px;
}

.manage_room .find_question_wrapper {
    margin-bottom: 26px;
}

.manage_room .quiz_wrapper .quiz_inner_wrapper button {
    -moz-box-shadow: inset 0 1px 0 0 #3985B1;
    -webkit-box-shadow: inset 0 1px 0 0 #3985B1;
    box-shadow: inset 0 1px 0 0 #3985B1;
    background-color: #216288;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
    margin: 5px;
    outline: none;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper {
    margin-bottom: 26px;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper .quiz_info {
    height: 0;
    opacity: 0;
    background: darkgray;
    transition: 0.3s ease-in;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper.opened .quiz_info {
    height: 100%;
    opacity: 1;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper .started button {
    background: red;
    -moz-box-shadow: inset 0 0 0 0 #3985B1;
    -webkit-box-shadow: inset 0 0 0 0 #3985B1;
    box-shadow: inset 0 0 0 0 #3985B1;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper .quiz_settings_info,
.manage_room .quiz_wrapper .quiz_outer_wrapper .show_results_info{
    display: none;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper.quiz_settings_open .quiz_settings_info,
.manage_room .quiz_wrapper .quiz_outer_wrapper.show_results_open .show_results_info{
    display: block;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper .quiz_settings_info {
    padding: 50px 0;
}

.manage_room .quiz_wrapper .quiz_outer_wrapper .quiz_settings_info .custom_form {
    margin: auto;
}

.quiz_question_wrapper .quiz_answer.most_answered{
    background: #cefae4;
}

.manage_room .ask_questions .questions {
    margin-bottom: 26px;
    max-height: 490px;
    overflow-y: scroll;
    padding: 25px;
}