
.my_rooms {
    max-width: 1600px;
    margin: 50px auto 0;
}

.my_rooms .room_list {
    list-style: none;
    padding: 0;
    margin: 35px 0 0;
}

.my_rooms .room_list li {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.5fr 0.5fr;
    align-items: center;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(144,238,144, 0.15) ;
    margin: 15px 10px;
    color: #FFFFFF;
}

.my_rooms .room_list .node_seg:not(:first-of-type) {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.pill_label {
    display: block;
    background-color: rgba(0,100,0,0.65);
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pill_button {

    background-color: rgba(0,100,0,0.80);
}

.pill_button:hover {
    cursor: pointer;
    background-color: rgba(20,100,50,0.80);
}

.my_rooms .goto_button {
    height: 36px;
    line-height: 36px;
}

.link_as_button {
    text-decoration: none;
    color: inherit;
    background-color: rgb(107,142,35);
    border-radius: 18px;
    height: 36px;
    padding: 5px 10px;
    cursor: pointer;
}

.link_as_button:hover {
    background-color: rgba(0,100,0,0.75);
}

@media (max-width: 767px) {
    .my_rooms .room_list li {
        height: auto;
        margin-bottom: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 10px;
    }
    .my_rooms .room_list .node_seg:not(.half_seg) {
        grid-column: 1 / span 2;
    }

}