.room_creation .creation_data {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  font-weight: 300;
  margin-top: 50px;
  max-width: 1500px;
  padding: 20px 20px 50px 20px;
  margin-left: auto;
  margin-right: auto;
}


.room_creation .creation_data section {
  background-color: rgba(144,238,144, 0.15);
}

.room_creation .creation_data section h2 {
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(0,100,0,0.65);
  color: #FFF;
  font-weight: 300;
  padding: 3px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.room_creation .creation_data .create_region {
  padding: 20px 20px;
}

.room_creation .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.room_creation .input_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room_creation input#room_votes {
  text-align: left;
}

.room_creation .input_box input {
  height: 30px;
  vertical-align: middle;
  margin: 0;
  outline: none;
  border: none;
  padding: 0 10px;
  background-color: transparent;
  flex-grow: 1;
}

.room_creation .input_box input[type="checkbox"] {
  flex-grow: 1;
}

.room_creation .input_box label {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  background-color: #299a0b;
  height: 30px;
  min-width: 60px;
  line-height: 30px;
  padding: 0 10px;
  color: white;
}

.room_creation .feedback {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
} 

.room_creation .feedback_option {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room_creation .feedback_option h3 {
  text-align: left;
  padding: 0 10px;
  font-weight: 400;   
}

.room_creation .check_toggle {
  width: 60px;
  height: 26px;
  background-color: #eeeeee; 
  -webkit-box-shadow: 2px 10px 50px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 10px 50px -9px rgba(0,0,0,0.75);
  box-shadow: 2px 10px 50px -9px rgba(0,0,0,0.75);
  cursor: pointer;
}

.room_creation .check_toggle > div {
  height: 100%;
  width: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,8fc400+100;Green+Flat+%236 */
  background: #8fc400; /* Old browsers */
  background: -moz-linear-gradient(top, #8fc400 0%, #8fc400 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #8fc400 0%,#8fc400 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #8fc400 0%,#8fc400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
  transition: margin 0.5s ease;
  margin-left: 0;
}

.room_creation .check_toggle.off > div {
  background:   #A9A9A9;
  margin-left: 50%;
}


.room_creation span.plus,
.room_creation span.under,
.room_creation span.delete {
  color: green;
  padding: 0 5px;
  margin: 0 7px;
  width: 25px;
  height: 25px;
  font-weight: 400;
  font-size: 1.3em;
  cursor: pointer;
  vertical-align: center;
  text-align: center;
}
.room_creation span.under,
.room_creation span.plus ,
.room_creation span.delete {
  margin: 0 3px;
  padding: 0 2px;
}

.room_creation span.plus:hover,
.room_creation span.under:hover,
.room_creation span.delete:hover {
  background-color: green;
  color: white;
  border-radius: 100%;
}

.room_creation .outline ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.room_creation .quizzes .quiz_create {
  background-color: rgba(211,211,211,0.2);
  margin: 20px 0;
  padding: 15px;
  border-radius: 20px;
}

.room_creation .quizzes h3 {
  text-align: left;
}

.room_creation .quizzes .question_create {
  margin: 25px 0px 25px 20px;
}

.room_creation .quizzes .quiz_details {
  display: flex;
  justify-content: space-between;
}

.room_creation .quizzes ul {
  margin: 0;
  padding: 0 0 0 40px;
  list-style-type: none;
}

.room_creation .quizzes ul .input_box {
  flex-grow: 1;
}

.room_creation .quizzes ul li {
  display: flex;
  margin-top: 10px;
}

.room_creation .quizzes ul li label {
  min-width: 100px;
}

.room_creation .quizzes .quiz_answer:not(.correct) label[for^="answer_"] {
  background-color: #800000;
}

.room_creation input[type="number"] {
  width: 70px;
  text-align: left;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
}

.room_creation .quizzes .is_correct {
  margin-right: 10px;
}

.room_creation .quiz_create.bogus {
  display: flex;
  justify-content: space-between;
}

.room_creation .quiz_error {
  color: #b92b27;
  align-self: right;
}


@media screen and (max-width: 768px) {

  .room_creation .creation_data {
    margin-top: 40px;
    grid-row-gap: 30px;
  }

  .room_creation .details {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  .room_creation .feedback {
    grid-template-columns: 1fr;
    
  }

  .room_creation .feedback h3 {
    font-size: 1em;
  }

  .room_creation .create_wrapper {
    grid-column-gap: unset;
    grid-template-columns: 25px 1fr;
    margin-top: 40px;
  }
  .room_creation .create_region {
    padding: 20px 10px;
  }

  .room_creation .quizzes .quiz_details {
    display: flex;
    flex-direction: column;
  }

  .room_creation .quizzes .quiz_details div {
    margin-top: 10px;
  }

  .room_creation .quizzes ul {
    padding-left: 10px;
  }
  .room_creation .quizzes ul li {
    display: flex;
  }

  .room_creation .question_create {
    padding-left: 10px;
    padding-right: 10px;
  }

  .room_creation .quiz_answer {
    padding-left: 20px;
    padding-right: 20px;
  }

}


@media screen and (max-width: 650px) {
  .room_creation .quizzes .question_create {
    margin-left: unset;
    margin-right: unset;
  }

  .room_creation .quizzes ul {
    margin-left: unset;
    padding-left: unset;
  }

  .room_creation .input_box label,
  .room_creation .input_box input {
    width: 100%;
    text-align: center;
  }

  .room_creation .quizzes ul li {
    flex-direction: column;
  }
  .room_creation .input_box {
    flex-direction: column;
    margin-top: 10px;
  }

  .room_creation .quiz_create.bogus {
    flex-direction: column;
    align-items: center;
  }

  .room_creation .outline .outline_chapter .input_box {
    flex-direction: row;
  }

  .room_creation .outline .outline_chapter input {
    text-align: left;
  }
}


