
.show_room {
    padding-bottom: 40px;
    max-width: 1600px;
    margin: 50px auto;
}

.room_view {
    display: flex;
}

.room_content {
    flex-grow: 1;
    padding: 0 15px 30px 15px;
}

.room_content .room_content_title {
    margin-bottom: 26px;
}

.room_content .slide:not(.current_slide) {
    display: none;
}


.room_view .leave_room_button {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: 500;
}


.quiz {
    max-width: 960px;
    margin: 20px auto;

}

.room_transition_button {
    border: none;
    color: white;
    background: green;
    padding: 15px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.quiz.show {
    left: 0;
}

.quiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quiz .quiz_question {
    font-weight: bold;
    display: block;
    padding: 30px 0 10px 0;
    margin: 0;
}

.quiz .quiz_answer {
    padding: 10px;
    background: #f7f7f7;
    margin: 0 0 5px;
    cursor: pointer;
}


.quiz .quiz_answer:hover {
    background: #eee;
}

.quiz .quiz_answer.active {
    background: #cccccc;
}

.quiz .quiz_answer.correct {
    background: #5cb85c;
    color: #FFFFFF;
}

.quiz .quiz_answer .your_answer {
    color: #d3d3d3;
    padding: 0 7px;
}

.quiz .quiz_answer.incorrect {
    background-color: #d9534f;
    color: #FFFFFF;
}

.ans_percent {
    display: inline-block;
    padding: 0 8px;
    margin: 0 5px;
}

.question_statistic .ans_percent {
    background-color: #3e8e41;
    border-radius: 10px;
    padding: 2px 7px;
    color: #FFFFFF;
}

.quiz-result {
    max-width: 960px;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.quiz .submit_quiz {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
}

.quiz.submitted .submit_quiz {
    display: block;
    cursor: no-drop;
}

.feedback .messages {
    margin: 20px 0;
}

.feedback .messages .message {
    background-color: rgba( 144,238,144, 0.15);
    margin-bottom: 20px;
    border-radius: 20px;
}

.feedback .messages .message.presenter_message .message_meta {
    background-color: rgba(220,20,60, 0.75);
}

.feedback .messages .message .message_meta {
    display: flex;
    background-color: rgba(0,100,0,0.65);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

.feedback .messages .message .message_user {
    flex-grow: 1;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-left: 3px solid rgba(255, 255, 255, 0.1);
}

.feedback .messages .message .message_votes {
    padding: 0 10px;
}

.feedback .messages .message .message_votes.voted,
.feedback .messages .message .message_votes:hover {
    background-color: rgba(50,205,50, 0.5);
    cursor: pointer;
}

.feedback .messages .message .message_chapter {
    flex-grow: 1;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 10px;
    border-top-left-radius: 10px;
    border-right: 3px solid rgba(255, 255, 255, 0.1);
}


.feedback .messages .message .message_content {
    padding: 10px 20px;
    overflow-wrap: break-word;
    word-break: break-all;
}

.feedback input#leave_message {
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    outline: unset;
    border: unset;
    border: 1px solid #d1d1d1;
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

.feedback input#leave_message:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
}
.feedback input#leave_message:focus {
    color: #4b515d;
    border: 1px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.find_question_wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.find_question_wrapper .inp {
    position: relative;
    width: 70%;
}

.find_question_wrapper .label {
    position: absolute;
    top: 11px;
    left: 0;
    font-size: 16px;
    color: #9098A9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all .2s ease;
    cursor: text;
    z-index: -1;
}

.find_question_wrapper .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #0077FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
}

.find_question_wrapper input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all .15s ease;
}

.find_question_wrapper input:hover {
    background: rgba(34, 50, 84, .03);
}

.find_question_wrapper input:not(:placeholder-shown) + span {
    color: #5A667F;
    transform: translateY(-15px) scale(.75);
}

.find_question_wrapper input:focus {
    background: none;
    outline: none;
}

.find_question_wrapper input:focus + span {
    color: #0077FF;
    transform: translateY(-15px) scale(.75);
}

.find_question_wrapper input:focus + span + .border {
    transform: scaleX(1);
}


i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#room_buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    margin-top: 26px;
}


#quiz_wrapper .duration {
    text-align: center;
    background: #ffb340;
    padding: 5px;
}

#search_form {
    text-align: center;
}

#feedback_messages_limit {
    visibility: hidden;
}

.feedback_message_component {
    display: none;
}

.room_view aside.room_menu {
    min-width: 300px;
    min-height: 400px;
    padding: 0px 15px;
}

.room_menu #room_buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.room_menu #room_buttons button {
    margin-bottom: 26px;
}

.room_view .page_content {
    flex-grow: 1;
}


.room_view #outline {
    list-style: none;
    margin: 15px 0;
    padding: 15px 0;
}

.room_view #outline .current_chapter {
    background-color: green;
    color: #FFFFFF;
}

.room_view #outline li {
    padding: 5px;
}
.room_view #outline .numbering {
    display: inline-block;
    padding: 0 8px;
}

.room_view #outline .change_chapter:hover {
    background-color: rgba(144,238,144, 0.15);
    color: #000000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .room_view {
        padding: 20px;
        flex-direction: column;
    }

    .room_view aside.room_menu {
        width: unset;
        text-align: left;
        flex-grow: 1;
    }

    .feedback .messages .message .message_meta {
        flex-direction: column;
    }

    .feedback .messages .message .message_meta > div {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .feedback .messages .message .message_meta .message_votes {
        order: 3;
    }

    .feedback .messages .message .message_content {
        font-size: 20px;
    }
}

.clarity_wrapper {
    margin-bottom: 26px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 26px;
}

.like_buttons {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.like_buttons button {
    width: 100%;
    height: 30px;
}

.like_buttons button.active {
    background: darkorange;
}


.grade_wrapper {
    margin-bottom: 26px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 26px;
}
.grades {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 10px;
}

.manage .quiz_manage {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 0.5fr;
    align-items: center;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(144,238,144, 0.15) ;
    margin: 15px 10px;
    color: #FFFFFF;
}

.pill_label.limited {
    max-width: 200px;
}


.manage .quiz_manage .inactive {
    background-color: rgba(128, 128, 128, 0.5);
}

.manage .quiz_manage .active,
.manage .quiz_manage .button_inactive {
    background-color: 	rgba(0, 128, 0, 0.75);
}

.manage .quiz_manage .ended,
.manage .quiz_manage .button_active,
.manage .quiz_manage .button_ended {
    background-color:   rgba(178,34,34, 0.75);
}

.manage .quiz_manage .button_active:hover,
.manage .quiz_manage .button_ended:hover {
    background-color:   rgba(178,34,34, 0.9);
}


@media (max-width: 1300px) {
    .manage .quiz_manage {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
    }

    .manage .quiz_manage span:nth-of-type(odd) {
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        margin-right: 5px;
    }

    .manage .quiz_manage span:nth-of-type(even) {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        margin-left: 5px;
    }


}


@media (max-width: 950px) {
    .page_content {
        padding: 0 15px 15px 15px;
    }
    .grades {
        grid-template-columns: repeat(5, 1fr);
        grid-row-gap: 20px;
        grid-template-rows: 40px 40px;
    }

    .manage .quiz_manage {
        grid-template-columns: 1fr;
        grid-row-gap: 15px;
    }

    .manage .quiz_manage span:nth-of-type(even),
    .manage .quiz_manage span:nth-of-type(odd){
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 25px;
    }

}



@media (max-width: 490px) {
    .page_content {
        padding: 0;
    }
    .room_content,
    .room_menu {
        padding-left: 5px;
        padding-right: 5px;
    }
    .grades {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        grid-template-rows: repeat(5, 40px);
    }
    .like_buttons {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }

    .feedback .messages .message .message_content {
        font-size: 18px;
    }

}

.grades .grade {
    flex: 0.1;
    border: 1px solid mediumvioletred;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
}

.grades .grade.active {
    background: darkorange;
    color: white;
}

.statistics_row {
    display: flex;
    margin-bottom: 26px;
}

.statistics_panel {
    background: #eeeeee;
    width: 100%;
}

.statistics_panel .header {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px;
}

.statistics_panel .body {
    text-align: center;
    padding: 10px;
}

.statistics_panel:not(:last-child) {
    margin-right: 10px;
}

.quiz_info .quiz_title{
    background-color: #d3d3d3;
    padding: 10px 0;
}

.quiz_info .question_title{
    padding: 5px 0;
}

.question_statistic {
    display: flex;
}

.question_statistic ul {
    list-style-type: none;
    padding: unset;
    margin: unset;
}

.question_statistic ul li {
    margin-bottom: 10px;
}

.question_statistics_wrapper {
    border: 1px solid lightgray;
    padding: 10px;
}