<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Denis Rozimovschii, Bocsan Andrei-Florin">
        <title>Fert</title>

        <link type="text/css" rel="stylesheet" href="/public/css/normalize.css">
        <link type="text/css" rel="stylesheet" href="/public/css/app.css">
        <link type="text/css" rel="stylesheet" href="/public/css/main.css">
        <link type="text/css" rel="stylesheet" href="/public/css/navbar.css">
        <link type="text/css" rel="stylesheet" href="/public/css/room/room_creation.css">
        <link type="text/css" rel="stylesheet" href="/public/css/room/show.css">
        <link type="text/css" rel="stylesheet" href="/public/css/room/manage.css">
        <link type="text/css" rel="stylesheet" href="/public/css/room/my_rooms.css">
        <link type="text/css" rel="stylesheet" href="/public/css/auth.css">
        <link type="text/css" rel="stylesheet" href="/public/css/modal.css">
        <link type="text/css" rel="stylesheet" href="/public/css/utils.css">
        <link type="text/css" rel="stylesheet" href="/public/css/modal_join.css">
        <link type="text/css" rel="stylesheet" href="/public/css/select.css">
        <link type="text/css" rel="stylesheet" href="/public/css/manage_room/checkbox.css">
        <link type="text/css" rel="stylesheet" href="/public/css/manage_room/manage_room_modal.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
        <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-auth.js"></script>

    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <nav class="main_navbar" id="main_navbar">
            <h1>
                <a href="/"><img class="fert_icon" src="/public/images/fert.png" alt="Fert icon"><span>Fert</span>
                </a>
            </h1>
            <span id="main_navbar_trigger_open" class="main_navbar_more">Touch for more</span>
            <h4 class="navbar_website_description">A new way to create engaging presentations</h4>
            <ul>
                <li class="create_room"><a href="/create">Create Room</a></li>
            </ul>
        </nav>

        <div id="alerts" class="alerts"></div>
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>

        <script src="/public/js/utils.js"></script>
        <script src="/public/js/cookie.js"></script>
        <script src="/public/js/error.js"></script>
        <script src="/public/js/navbar.js"></script>
        <script src="/public/js/modal.js"></script>
        <script src="/public/js/xhr.js"></script>

        <script>
            // Initialize Firebase
            var config = {
                apiKey: "AIzaSyCL5WRon5OziCgWlOhzf_t1fkvUizqldcw",
                authDomain: "test-1712f.firebaseapp.com",
                databaseURL: "https://test-1712f.firebaseio.com",
                projectId: "test-1712f",
                storageBucket: "test-1712f.appspot.com",
                messagingSenderId: "1069571475914"
            };
            firebase.initializeApp(config);
            const db = firebase.firestore();
            db.settings({ timestampsInSnapshots: true });
        </script>

        <script src="/public/js/auth/auth.js"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>