{% extends 'common.html' %}

{% block content %}
    <div class="room_creation">
        <form id="create_form" class="creation_data" onsubmit="event.preventDefault(); return sendData()">
            <section>
                <h2>Details</h2>
                <div class="create_region details">
                    <div class="input_box">
                        <label for="room_name">Name</label>
                        <input type="text"
                               name="room_name"
                               placeholder="Type room name"
                               id="room_name"
                        >
                    </div>
                    <div class="input_box">
                        <label for="room_topic">Topic</label>
                        <input type="text"
                               name="room_topic"
                               placeholder="Type room topic"
                               id="room_topic">
                    </div>
                    <div class="input_box">
                        <label for="room_votes">Votes</label>
                        <input type="number"
                               name="room_votes"
                               min="0"
                               placeholder="Required votes to see feedback"
                               id="room_votes">
                    </div>
                    <div class="input_box">
                        <label>Allow anonymous users</label>
                        <div id="allow_anonymous" class="check_toggle off">
                            <div></div>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <h2>Feedback Options</h2>
                <div class="create_region feedback">
                    <div class="feedback_option">
                        <div id="feedback_form" class="check_toggle off">
                            <div></div>
                        </div>
                        <div class="feedback_block_option">
                            <h3>Feedback Form</h3>
                        </div>
                    </div>
                </div>
            </section>


            <section>
                <h2>Quizzes</h2>
                <div class="create_region quizzes">
                    <div class="quiz_create bogus">
                        <span>
                            <span class="plus add_quiz_button">+</span>
                            Add Quiz
                        </span>
                        <span class="quiz_error"></span>
                    </div>
                </div>
            </section>


            <section>
                <h2>Outline</h2>
                <div class="create_region outline">
                    <ul>
                        <li class="outline_chapter first_chapter">
                            <div class="input_box">
                                <span class="chapter_number">1.</span>
                                <span class="plus add_chapter">⭳</span>
                                <span class="under add_chapter_under">⮑</span>
                                <span class="delete remove_chapter">×</span>
                                <input type="text" name="chapter_" placeholder="Enter Title" id="chapter_"
                                       value="">
                            </div>
                            <ul></ul>
                        </li>
                    </ul>
                </div>
            </section>

            <button id="create_submit" type="submit" class="full_length_button green_normal_button">
                Go!
            </button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/room/check_toggle.js"></script>
    <script src="/public/js/room/create.js"></script>
{% endblock %}
