{% extends 'common.html' %}

{% block content %}
    <div class="main_page">

        <article>
            <div class="introduction" itemprop="introduction">
                <h2>Fert is a web instrument that allows the public to create, manage and enter custom presentation
                    rooms to offer either registered or anonymous feedback.</h2>
            </div>
            <aside class="section_greeting">
                <img src="/public/images/yoda.png" alt="Drawn Yoda from Star Wars">
                <h3>Down you swipe, traveler, explore Fert will you</h3>
            </aside>
            <section>
                <div class="link-button">
                    <button onclick="location = ('/room/create')">Create</button>
                </div>
                <div class="link-description">
                    <h2>Create a room</h2>
                    <p>Build a presentation room tailored for your needs</p>
                </div>
            </section>
            <section>
                <div class="link-description">
                    <h2>Join a room or a group</h2>
                    <form id="enter_room_form">
                        <input id="room_passcode" type="text" placeholder="Enter invitation code:">
                    </form>
                </div>
                <div class="link-button">
                        <button type="submit" id="enter_room">Enter</button>
                </div>
            </section>
            <section>
                <div class="link-button">
                    <button onclick="location = 'https://beaverden.bitbucket.io/fert_report/Architecture/'">Learn</button>
                </div>
                <div class="link-description">
                    <h2>Discover new ways</h2>
                    <p>Find usage examples and other options to make your experience easier</p>
                </div>
            </section>
        </article>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/room/welcome.js"></script>
{% endblock %}