{% extends 'common.html' %}


{% block content %}
<div class="auth_wrapper">
    <form onsubmit="event.preventDefault(); return sendLoginData()">
        <div class="auth_input">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter email">
        </div>
        <div class="auth_input">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" id="password">
        </div>
        <button type="submit" class="auth_submit green_normal_button">
            Enter
        </button>
    </form>
</div>    
{% endblock %}
