{% extends 'common.html' %}

{% block content %}
    <div class="room_view">
        <div class="page_content">
            <div class="room_buttons">
                <button class="room_transition_button" id="room_transition_button">Quiz settings</button>
                <button class="room_transition_button" id="back_to_room">Back to room</button>
            </div>

            <article>
                <div class="room_content manage_room">
                    <div data-slide-id="1" class="ask_questions slide current_slide" id="ask_questions">

                        <div class="find_question_wrapper">
                            <label for="search_input" class="inp">
                                <input type="text" id="search_input" placeholder="&nbsp;">
                                <span class="label">Search for a question</span>
                                <span class="border"></span>
                            </label>
                        </div>

                        <div class="questions" id="questions"></div>

                    </div>

                    <div class="quiz_wrapper" id="quiz_wrapper"></div>

                </div>
            </article>
        </div>

        <button class="leave_room_button green_normal_button modal_trigger manage_room_settings" id="modal_trigger">Manage room settings</button>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="manage_room_modal modal">
        <!-- Modal content -->
        <div class="modal_content">
            <span class="close modal_close">&times;</span>
            <p>MANAGE ROOM</p>

            <div class="form_group">
                <label for="feedback_message_vote_limit">Minimum question votes</label>
                <input type="text" name="feedback_message_vote_limit" id="feedback_message_vote_limit">
            </div>

            <div class="form_group">
                <label class="container">Allow anonymous
                    <input id="allow_anonymous" name="allow_anonymous" type="checkbox">
                    <span class="checkmark"></span>
                </label>

            </div>

            <div class="form_group">
                <label for="room_name">Name</label>
                <input type="text" name="room_name" id="room_name">
            </div>

            <div class="form_group">
                <label for="room_topic">Topic</label>
                <input type="text" name="room_topic" id="room_topic">
            </div>



            <div class="modal_buttons">
                <button class="modal_close" id="modal_close_button">Back</button>
                {{--<button id="close_room">CLOSE ROOM</button>--}}
            </div>
        </div>
    </div>
{% endblock %}