{% extends 'common.html' %}


{% block content %}
<div class="auth_wrapper">
    <form onsubmit="event.preventDefault(); return registerUser();">
        <div class="auth_input">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter username">
        </div>
        <div class="auth_input">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter email address">
        </div>
        <div class="auth_input">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" id="password">
        </div>
        <div class="auth_input">
            <label for="repeat">Repeat</label>
            <input type="password" placeholder="Repeat password" id="repeat">
        </div>
        <button type="submit" id="register_submit" class="auth_submit green_normal_button">
            Go!
        </button>
    </form>
</div>    
{% endblock %}
