{% extends 'common.html' %}

{% block content %}
    <div class="my_rooms">
        <h2>My rooms</h2>
        <ul class="room_list" id="created_rooms">

        </ul>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/room/my_rooms.js"></script>
{% endblock %}
