{% extends 'common.html' %}

{% block content %}
    <div class="show_room">
        <div class="room_view">
            <aside class="room_menu">
                <div id="room_info"></div>

                <div id="room_buttons">

                </div>
                <div id="room_outline"></div>
            </aside>
            <div class="room_content">
            <div class="feedback slide current_slide" id="feedback">
                <!-- Feedback options -->
            </div>

            <div class="quiz slide " id="quiz">
                <!-- Quizzes -->
                <div id="quiz_wrapper" class="quiz_wrapper"></div>
            </div>

            <div class="manage slide " id="manage">
                <!-- Room management -->
            </div>

            <div class="statistics slide " id="statistics">
                <!-- Room statistics -->



                <div class="quiz_statistics">
                    <div class="quiz">
                        <div class="quiz_title">
                            <h3>Quiz1</h3>
                        </div>

                        <div class="question_statistics_wrapper">
                            <div class="question_title">
                                <h3>Question 1</h3>
                            </div>

                            <div class="question_statistic">
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of votes</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of correct answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of wrong answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="question_statistics_wrapper">
                            <div class="question_title">
                                <h3>Question 2</h3>
                            </div>

                            <div class="question_statistic">
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of votes</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of correct answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of wrong answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="quiz_statistics">
                    <div class="quiz">
                        <div class="quiz_title">
                            <h3>Quiz 2</h3>
                        </div>

                        <div class="question_statistics_wrapper">
                            <div class="question_title">
                                <h3>Question 1</h3>
                            </div>

                            <div class="question_statistic">
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of votes</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of correct answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of wrong answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="question_statistics_wrapper">
                            <div class="question_title">
                                <h3>Question 2</h3>
                            </div>

                            <div class="question_statistic">
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of votes</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of correct answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                                <div class="statistics_panel">
                                    <div class="header">
                                        <h4>Number of wrong answers</h4>
                                    </div>
                                    <div class="body">
                                        <p class="number_of_votes"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal_content">
            <span class="close modal_close">&times;</span>
            <p>Are you sure you want to leave the room ?</p>
            <div class="modal_buttons">
                <button class="modal_close" id="modal_close_button">No</button>
                <button id="modal_redirect_button">Yes</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/public/js/room/room.js" type="module"></script>
{% endblock %}
